@media only screen and (min-width: 50px) and (max-width: 1200px){

.main_page_box{
    display:inline-block;
}

#pag_index{
    grid-column: 1/2;
}

#box1, .image_club_forum, #header_title, #theme{
    display:none;
}

#box_article_fan_page{
    width:80%;
    margin-bottom: 50px;
}

#list_user{
    position: static;
    margin:auto;
    margin-bottom:50px;
}

#setting{
    display:inline;
}

.login_box{
    width:80%;
}

#form_box{
    width:300px;
}

header{
    grid-template-columns: minmax(14%, auto) 1fr 1fr 1fr;
}

#time{
    display:relative;
}

#setting_title{
    grid-column: 1/3;
}

#forum_fan_page .discussion{
    grid-template-columns: 1fr 1fr;
}

#box_article{
    grid-template-columns: 1fr;
}

.image_club{
    display:none;
}

.article{
    margin:auto;
}

#fan_page_week{
    margin:auto;
    width:500px;
}

.option{
    height:auto;
}

#setting_box{
    grid-template-columns: 1fr 1fr;
}

#sign_in{
    background-color: #FFFFF0;
    border: 0px;
}

#header_title, #userType{
    margin-top:10px;
}

#background_fan_page{
    display:none;
}

#menu_fan_page{
    grid-template-columns: 1fr 1fr;
}

.center_title_fan_page, #forum_fan_page{
    grid-column: 1/3;
}

#title_fan_page{
    display:none;
}

.button_add_item, .error_fan_page{
    grid-column: 1/3;
}

#box_new_content form{
    grid-template-columns: 1fr;
}

#profil_box{
    grid-template-columns: 1fr;
}

#profil_image{
    position: absolute;
    height:100px;
    width:100px;
    top:18%;
    left:30%;
}

#new_question_forum{
    grid-column: 1/3;
}

#subtitle_profil{
    font-size: 1em;
    width:120px;
    padding:5px;
    left:15%;
    top:45%;
}

}